html {
    background: #fff;
    width:100vw;
    max-width:100%;
    overflow-x: hidden;
}

body {
    background: #fff;
    font-size: 12px;
    line-height: 1;
    margin: 0px;
    padding: 0px;
    width:100vw;
    max-width:100%;
    overflow-x: hidden;
}

@font-face {
   font-family: "Alain-Regular";
   src: url("Font/Alain-Regular.woff") format("woff");
}

 @font-face {
            font-family: "ABCMonument";
            src: url('Font/ABCMonumentGroteskVariable.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 400;
    font-family: "Alain-Regular"; 
    padding: 0;
    margin: 0;
    text-rendering: optimizelegibility;
}

h1{
    line-height: 0.6;
    font-size: clamp(200px, 20.5vw, 400px);
}

.heading--1{
    line-height: 0.6;
    font-size: clamp(300px, 40vw, 600px);
    text-align: center;
}

.heading--2{
    line-height: 0.6;
    font-size: clamp(200px, 30vw, 500px);
    text-align: center;
    color: white;
}

h2 {
    font-size: 110px;
    font-family: "Alain-Regular";
    font-weight: 400;
    line-height: 0.6;
    text-align: center;
}

h3 {
    font-size: 156px;
    font-family: "Alain-Regular";
    font-weight: 400;
    line-height: 0.6;
    text-align: left;
}

h4 {
    font-size: 24px;
    font-family: "ABCMonument";
    font-weight: 400;
    line-height: 2.5;
    text-align: left;
}

.heading--black{
    color:black !important;
}

.hero-section{
    height:100vh;
    width: 100vw;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes logoSizeChange{
    from {
        font-size: 280px;
        line-height:0.72;
    }
    to {
        font-size:140px;
        line-height: 0.72;
    }
}

.logo{
    text-align: center;
    font-size: 280px;
    line-height: 3;
    animation: logoSizeChange 0.8s ease-out 2s forwards;
    animation-delay: 1s;
}

.center-align{
    text-align: center;
}

p{
    font-family: "ABCMonument";
    color:black;
    font-size:14px;
    line-height: 1.6;
}



.horizontal-scroll-wrapper{
    height: 55vh;
    width: 180vw;
}

img.horizontal-scroll-img {
    object-fit: cover;
    object-position: 0% 50%;
    width: 180vw;
    height: 55vh;
    overflow: hidden;
}

.horizontal-section{
    display: flex;
    align-items: left;
    flex-direction: column;
   width: 100vw;
    max-width: 100%;
}

.txt-wrapper{
    margin-top: 27vh;
    width: 28vw;
    text-align: center;
    z-index: 1;
}

.discover-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    row-gap: 60px;
}

.discover-content{
    align-items: center;
    row-gap: 40px;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

.img-box-section{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    align-items: center;
}

.two-colum-wrapper{
    width:100vw;
    max-width: 100%;
    height: 90vh;
    display: grid;
    align-items: initial;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.two-colum--box {
    padding:40px;
}

.two-colum-box-text {
    padding: 120px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    justify-content: space-between;
}

.bag-ivory{
    background-image: url("assets/bag-ivory-color.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bag-red{
    background-image: url("assets/bag-red-color.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.bag-pink{
    background-image: url("assets/bag-pink-color.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.shoe-ivory{
    background-image: url("assets/shoes-ivory-color.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.shoe-red{
    background-image: url("assets/shoes-red-color.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.shoe-beige{
    background-image: url("assets/shoes-beige-color.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.sroll-section-2{
    padding: 10vh 40px;
}

.full-width{
    width: 100vw;
    max-width: 100%;
}

.right-align{
    text-align: right;
}

.two-colum--item {
  position: relative; 
  overflow: hidden; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%); 
  transition: transform 0.5s ease, filter 0.5s ease; 
}

.two-colum--item:hover {
  filter: grayscale(0%); 
}

.hover-content {
  position: absolute;
  bottom: -100%; 
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 0;
  transition: bottom 1s ease; 
}

.two-colum--item:hover .hover-content {
  bottom: -3.8%; 
}

.txt-box{
    height: 90vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.txt-bg-img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index:0;
}